// button,
.button,
[role="button"] {
	display: inline-block;
	max-width: 100%;
	margin: 0;
	margin-left: auto;
	margin-right: auto;
	font-size: calc(#{$type-scale-small}em + 1vw);
	font-family: $font-sans;
	color: $color-light;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	padding: 0.5em;
	border-radius: $border-radius;
	box-shadow: $drop-shadow;
	background: $color-contrast;
	background-image: $color-gradient;
	cursor: pointer;
	transition: 	all 0.2s ease-in-out;
}
// button:hover,
.button:hover,
[role="button"]:hover,
.button a:hover, 
.button a:active {
	text-decoration: none;
	transform: translateY(-2px);
}
// button:active,
// button:focus,
.button:active,
.button:focus
[role="button"]:active,
[role="button"]:focus {
	border: 1px solid $color-dark;
	border-bottom-color: $color-medium;
	border-top-color: #999;
	box-shadow: inset 0 1px 2px #AAA;
}
button[aria-pressed="true"] {
	border: 1px solid $color-light;
	background-color: $color-ghosted;
	color: $color-dark;
	transform: translateY(2px);
}