button,
[role="button"] {
  padding-left: 0.1em;
  padding-right: 0.1em;
	border-radius: $border-radius;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}
button:hover,
[role="button"]:hover,
.button--primary:hover,
.button--secondary:hover {
  box-shadow: $drop-shadow;
}
button:active,
button:focus,
[role="button"]:active,
[role="button"]:focus {
  box-shadow: $drop-shadow;
}
[aria-pressed="true"] {
	border: 2px solid $color-contrast;
}
.button--primary {
  display: block;
  color: $color-light;
  font-family: $font-monospace;
  font-variant: small-caps;
  text-transform: lowercase;
  letter-spacing: .15em;
  width: 100%;
  max-width: 32ch;
  margin: auto;
  background: $color-dark;
  border-radius: $border-radius;
  box-shadow: none;
  border: 0;
  cursor: pointer;
}
.button--secondary {
  display: block;
  font-family: $font-monospace;
  font-variant: small-caps;
  text-transform: lowercase;
  text-align: center;
  text-decoration: none;
  letter-spacing: .15em;
  width: 100%;
  max-width: 32ch;
  margin: auto;
  padding: .5em 1em;
  border: 2px solid $color-dark;
  border-radius: $border-radius;
}
