/* UTILITY
 * - accessibility
 * - layout & browser hacks
 * - browser warning (modernizr/noscript/etc)
 */


/*
 * ========= Accessibility Classes =========
 * styles warning text. like for a noscript-tag
 */
.hide {
    display: none; /* eliminate from DOM */
}
.hide-visually{ /* accessibility: text meant only for screen readers. */
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    width: 1px;
    word-wrap: normal !important;
}
.skip-link { /* accessibility: link to main that only shows up when tabbed to with keyboard */
    text-align: center;
    position: fixed;
    width: 40%;
    top: -20em;
    left: 20%;
    background: white;
    padding: 24px;
    display: inline-block;
    z-index: 100;
    box-shadow: 0 2px 4px #CCC;
    transition: all 0.3s ease-in-out;
    &:focus {
      top: 0;
    }
}

/* LAYOUT & browser hacks */
:target::before { /* offset jump to ID in browser */
	display: block;
 	content: " ";
  height: 2em;      /* Give height of your fixed element */
  margin-top: -2em; /* Give negative margin of your fixed element */
  visibility: hidden;
}

/*
 * ========= Browser Warning =========
 * styles warning text. like for a noscript-tag
 */
.warning {
  width: 80%;
  font-family: arial, sans-serif;
  color: #000;
  background: #fff;
  text-align: center;
  padding: 5px;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid #000;
}
