/* NORMALIZE ELEMENTS */
html {
  color: $color-dark;
  background-color: $color-light;
  font-family: $font-body; /* change default in all browsers to system font */
  font-size: 100%; /* start with browser default (16px) */
  font-size-adjust: $font-size-adjust;
  font-smoothing: $font-smoothing;
  font-feature-settings: $font-feature-settings;
  text-size-adjust: $text-size-adjust;
  max-width: 160em;
}
/* set all elements to border-box model for easier size calculations */
html * {
	box-sizing: border-box;
}
body {
  margin: 0;
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed; /* optimize legibility has very expensive page rendering load for long texts and prohibitive on older mobile devices. add legibility only to sections or microcopy */
}
@media (prefers-color-scheme: dark) {
        /* simple dark mode to respect OS dark mode settings */
        body {
               // background-color: $color-dark;
               // color: $color-light;
        }
}
/* reset display for browser consistency */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
template,
[hidden] {
  display: none;
}
/* reset form elements for browser consistency */
button,
input {
	overflow: visible;
}
input {
  width: 100%;
}
button,
select {
  text-transform: none;
}
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; /* make clickable items styleable in mobile browsers */
}
textarea {
  overflow: auto;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  white-space: normal;
  padding: 0;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
::-webkit-file-upload-button {
  -webkit-appearance: button; /* make clickable items stylable in mobile browsers */
  font: inherit;
}
/* reset vertical-alignment for browser consistency */
progress {
  vertical-align: baseline;
}
/* hide SVG overflow in IE. */
svg:not(:root) {
  overflow: hidden;
}
::selection {
background: #aaa; /* nicer text selection colors */
color: black; /* nicer text selection colors */
}

/* disable animations for accessibility reasons (with tiny duration to keep JS-event listeners in tact */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
