/* LAYOUT
 * - layout utility classes (float right/left)
 * -
 */

.grid { /* single column grid */
	position: relative;
	max-width: 75ch;
	padding-left: 2.5%;
	padding-right: 2.5%;
	margin-left: auto;
	margin-right: auto;
}
	@media screen and (min-width: $break-wide) {
		/* give more room to breathe on wider screens */
		.grid {
		 	padding-left: 5%;
		 	padding-right: 5%;
		}
	}
	// option for a two-column-layout with content in the right margin
	@media screen and (min-width: $break-wide) {
		/* shift main column, add margin gutter to the right on wide screens */
		.grid-margin {
			width: 80vw;
		 	margin-left: 1rem;
		 	margin-right: 1rem;
		 	padding-left: 1em;
		 	padding-right: calc(20vw - 1em);
		}
	}
.center-horizontal {
	 position: absolute;
	 left: 50%;
	 transform: translateX(-50%);
}
.full-width { /* to stretch elements (like images) inside of centered columns beyond their parent container to fullscreen window width */
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}
.clear-float { /* clearfix for floating elements */
	clear: both;
}
.current {
	border-bottom: 1px solid $color-contrast; /* for navigation links */
}
.drop-shadow {
	box-shadow: $drop-shadow; // adds standard drop-shadow to element
}
.contrast-bg-light {
	background-color: $color-light;
}
.contrast-bg-dark {
	background-color: $color-dark;
	color: white;
}
.contrast-bg-medium {
	background-color: $color-medium;
	color: white;
}
.contrast-bg-white {
	background-color: $color-ghosted;
}
.contrast-bg-black {
	background-color: $color-lighter;
}
.contrast-bg-gradient {
	background-image: $color-gradient;
}
.spaced:before { /* adds a flourish to seperate elements */
	display: block;
	content: "—";
	text-align: center;
}

/* universal margin-notes: designed to work as snippets in markdown documents */
// <label for="$NAME" class="aside-toggle">⨭ …<span class="hide-visually">Randbemerkung anzeigen</span></label>
// <input type="checkbox" id="$NAME" class="aside-toggle"/>
// whatever element comes next will be turned into a margin note. A (markdown-generated) paragraph or a video or figure alike
input.aside-toggle + * {
	float: right;
	clear: right;
	margin-right: calc(-7em - 20vw);
	width: calc(3em + 20vw);
	margin-top: calc(-1em * #{$line-height});
	margin-bottom: calc(1em * #{$line-height});
	font-size: calc(1em * 0.75);
	line-height: calc(#{$line-height} * 1.25);
	vertical-align: baseline;
	position: relative;
}
input.aside-toggle {
	display: none;
}
label.aside-toggle {
	display: none;
	color: $color-contrast;
	cursor: pointer;
}
/* collapse sidenotes on small screens */
@media all and (max-width: $break-wide) {
	label.aside-toggle {
		display: inline;
	}
	input.aside-toggle + * {
		display: none;
	}
	input.aside-toggle:checked + * {
		display: block;
		clear: both;
		width: 100%;
		margin: 0;
		margin-top: calc(0.5em * #{$line-height});
		margin-bottom: calc(1em * #{$line-height});
		vertical-align: baseline;
		position: relative;
		-webkit-animation:pop-in 0.3s;
		-moz-animation:   pop-in 0.3s;
		-ms-animation:    pop-in 0.3s;
		animation:        pop-in 0.3s;
	}
}

.md-view > * {
  display:none;
  animation: slide-in 0.3s;
}
.md-view *:target {
  display:block;
  margin-top: -1em;
  padding-top:2em;
}
.md-view *:target ~ h2,
.md-view *:target ~ h3,
.md-view *:target ~ h4,
.md-view *:target ~ h5,
.md-view *:target ~ p,
.md-view *:target ~ ul,
.md-view *:target ~ ol,
.md-view *:target ~ dd,
.md-view *:target ~ blockquote,
.md-view *:target ~ pre,
.md-view *:target ~ table,
.md-view *:target ~ figure,
.md-view *:target ~ img {
  display: block;
}
.md-view > p:last-child a {
  display: block;
  // font-variant: small-caps;
  // text-transform: lowercase;
  text-align: center;
  text-decoration: none;
  letter-spacing: .1em;
  max-width: 32ch;
  margin: auto;
  margin-top: 4em;
  padding: .5em 1em;
  border: 1px solid $color-contrast;
  border-radius: $border-radius;
}


/* tables from divs with flexbox */
// add style="order:N" to table cell elements inline
.flex-table {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  hyphens: auto;
}
.flex-table-cell {
  box-sizing: border-box;
  width: 100%;  // Default to full width
  margin: 0;
  margin-top: #{$line-height}em;
  padding: 0.8em calc(#{$line-height}em * 0.5);
  overflow: hidden; // or flex might break
  border: none;
  > h1,
  > h2,
  > h3,
  > h4,
  > h5,
  > h6 {
  	margin: 0;
  	}
  > img {
  	margin: auto;
  	}
}
/* table column sizing */
.flex-table-twocols {
	> .flex-table-cell  {
		width: calc(50% - #{$line-height}em);
	}
}
.flex-table-threecols {
	> .flex-table-cell {
		width: calc(33.33% - 1em);
	}
}
.flex-table-fourcols {
	> .flex-table-cell {
		width: calc(25% - #{$line-height}em);
	}
}
.flex-table-fivecols {
	> .flex-table-cell {
		width: calc(20% - #{$line-height}em);
	}
}
/* collapse table on small screens */
@media all and (max-width: $break-narrow) {
	.flex-table  {
		display: block;
		> .flex-table-cell {
			width: 100%;
		}
	}
}
