a {
	color: inherit;
	text-decoration: underline;
  text-underline-position: under;
	cursor: pointer;
	text-decoration-skip: objects;
	text-decoration-skip-ink: auto;
	text-decoration-color: $color-dark;
	transition: all 0.3s ease;
	&:hover,
	&:active,
	&:focus {
		color: $color-contrast;
	}
}
	sup a {
		color: $color-contrast;
		text-decoration: none;
		&:hover {
			text-decoration: none;
		}
		&::before {
			content: "[";

		}
		&::after {
		content: "]";
		}
	}
