// this drop-down navigation menu is optimized for markdown-generated HTML
// using unordered lists and H2 inside of a nav-element with class .nav--article
// the drop-down effect works without JavaScript
// links to the IDs "open" and "close" prompt a view change, using the hashchange in the URL
// progressive enhancement:
// a utility script triggers the "close"-link via JavaScript when clicking outside the drop-down element

.nav--article {
  position: fixed;
  top: -0.1em; /* hack to offset drop-shadow + backdrop-filter gap */
  left: 10px;
  padding: 0.5em;
  padding-right: 1em;
  margin: 0;
  max-height: 95vh;
  min-width: 15vw;
  max-width: 75vw;
  overflow: auto;
  border-radius: 0 0 $border-radius $border-radius;
  backdrop-filter: blur(0.3em); /* needs offset. there is a gap in combination with box-shadow: rendering issue */
  background-color: $color-ghosted;
  box-shadow: 0.2em 0.2em 0.2em 0.05em rgba(0,0,0,0.15);
  z-index: 1;
}
.nav--article * {
  margin: 0;
  color: inherit;
}
.nav--article * + * {
  margin: 0;
}
.nav--article small {
  font-family: $font-sans;
  font-size: #{$type-scale-small}em;
  letter-spacing: 0.02em;
  margin-left: 1em;
}
.nav--article li {
  margin-left: 1em;
  margin-top: #{$line-height}em;
  list-style-type: none;
  color: $color-contrast;
}
.nav--article ul ul li {
  margin-top: 0;
  color: $color-dark;
}
.nav--article ul ul a:link {
  text-decoration: underline;
}
.nav--article ul ul ul li::before {
  content: "▸ ";
}
.nav--article #open h2 { // the closing-linked title
  margin: 0;
  padding: 0;
  font-family: $font-sans;
  font-variant: small-caps;
  text-transform: lowercase;
  font-size: #{$type-scale-normal}em;
}
.nav--article #open h2::before {
  content: "▴ ";
  margin: 0;
  padding: 0;
}
.nav--article #open + h2 { // the opening-linked title
  margin: 0;
  padding: 0;
  font-family: $font-sans;
  font-variant: small-caps;
  text-transform: lowercase;
  font-size: #{$type-scale-normal}em;
}
.nav--article #open + h2::before {
  content: "▾ ";
  margin: 0;
  padding: 0;
}
.nav--article #open:target + h2 { // the opening-linked title is hidden, when nav-content in view
  display: none;
}
.nav--article #open { // the nav-content is hidden by default
  display: none;
}
.nav--article #open:target { // the nav-content is visible when the corresponding opening-link puts it into the URL
  display: block;
  //animation: fade-in 0.5s;
}
