#nav--menu {
  position: fixed;
  top: -5px; /* hack to offset drop-shadow + backdrop-filter gap */
  left: 1rem;
  padding: 4px 2px;
  margin: 0;
  max-height: 90vh;
  max-width: 90vw;
  overflow: auto;
  border-radius: 0 0 $border-radius $border-radius;
  backdrop-filter: blur(0.3em); /* needs offset. there is a gap in combination with box-shadow: rendering issue */
  background-color: rgba(252,252,255,.92);
  box-shadow: 0.1em 0.1em 0.2em 0.1em rgba(0,0,0,0.15);
  z-index: 1;
}
#nav--menu > * {
  margin-left: 1rem;
  margin-right: 1rem;
}
#nav--menu > h3 {
  margin-top: 1.5em;
}
#nav--menu p,
#nav--menu ul {
  margin-top: .2em;
  max-width: 65ch;
}
#nav--menu li {
  list-style-type: none;
}
#nav--menu li a {
  display: block;
  padding: .2em;
  padding-left: 1em;
  margin-left: .25em;
  // border-left: 2px solid rgba(0,0,0,.1);
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #eee;
}
#nav--menu li a:visited {
  border-left-style: solid;
  border-left-color: $color-contrast;
}
.nav--new {
  font-style: italic;
  margin-left: 1em;
  padding-left: .5em;
  border-left: 2px solid $color-muted;
}
.nav--visited {
  font-style: italic;
  margin-left: .5em;
  padding-left: .5em;
  border-left: 2px solid $color-contrast;
}
#nav--menu li a:hover,
#nav--menu li a:active {
  display: block;
  padding: .2em;
  padding-left: 1em;
  //border: 0 !important;
  // border-left: 0px solid red;
  border-left: 2px dotted $color-contrast;
}
#nav--menu [for="nav--toggle"] { // the opening-linked title
  padding: .5em;
  padding-bottom: .2em;
  margin: 0;
  //font-family: $font-monospace;
  font-weight: lighter;
  font-variant: small-caps;
  text-transform: lowercase;
  letter-spacing: .05em;
  border: 1px solid transparent;
  border-radius: 0 0 $border-radius $border-radius;
  box-shadow: none;
}
#nav--menu [for="nav--toggle"]:active,
#nav--menu [for="nav--toggle"]:focus {
	border: 1px solid $color-contrast;
}
#nav--menu [for="nav--toggle"]::before {
  content: "▼ ";
  font-size: .65em;
  margin: 0;
  padding: 0;
}
#nav--menu [for="nav--toggle"][aria-pressed="true"]::before{
	content: "▲ ";
}
#nav--toggle:not(:checked) ~ * {
  display: none; // the nav-content is hidden by default
}

// mark types of links and states
#nav--menu a[href="/"]::before {
  content: "◂ "; // point to overview main page, overwrite article pointer
}
#nav--menu > p:last-child {
  margin-top: 2em;
}
#nav--menu > p:last-child::after {
  content: "";
  width: 10%;
  display: block;
  padding: 1em;
}
